* {
    margin: 0;
    padding: 0;
    cursor: url("../assets/pointer-default.png") 0 16, auto;

    &:active {
        cursor: url("../assets/pointer-click.png") 0 16, auto;
    }
}

html, body {
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.elder-enable {
    font-size: 18px;
}

.elder-disable {
    font-size: 16px;
}

#app {
    width: 100vw;
    height: 100vh;
}

img {
    -webkit-user-drag: none;
}