.light {
    --background: #eee;
    --background-hover: #ccc;
    --text-color: #555;
    --separator-stroke: #777;
}

.dark {
    --background: #333;
    --background-hover: #777;
    --text-color: #ccc;
    --separator-stroke: #aaa;
}