.global {
    --border-color: #333;
    --background-color: #eee;
    --background-color__dark: #ddd;
    --text-color: #555;
    --separator-stroke: #777;
    --scroll-bar-color: #ccc;
}

//.light {
//    --background: #eee;
//    --text-color: #555;
//    --separator-stroke: #777;
//    --list-title-background: #aaa;
//}

//.dark {
//    --background: #333;
//    --text-color: #ccc;
//    --separator-stroke: #aaa;
//    --list-title-background: #555;
//}