@font-face {
  font-family: "iconfont"; /* Project id 3484085 */
  src: url('iconfont.woff2?t=1656396125051') format('woff2'),
       url('iconfont.woff?t=1656396125051') format('woff'),
       url('iconfont.ttf?t=1656396125051') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e667";
}

.icon-qp_icon_exit:before {
  content: "\e729";
}

.icon-grandpa:before {
  content: "\e8ff";
}

.icon-fangda1:before {
  content: "\e68e";
}

.icon-fankuiyijian:before {
  content: "\e649";
}

.icon-jiazai:before {
  content: "\e62b";
}

.icon-tuichudenglu:before {
  content: "\e605";
}

.icon-bug:before {
  content: "\e633";
}

.icon-paixu:before {
  content: "\e600";
}

.icon-xiangshang:before {
  content: "\e602";
}

.icon-zuoxiajiao-:before {
  content: "\e666";
}

.icon-moonyueliang:before {
  content: "\e6dd";
}

.icon-shuaxin:before {
  content: "\e692";
}

.icon-wushu:before {
  content: "\e601";
}

.icon-sun:before {
  content: "\e88e";
}

.icon-dark:before {
  content: "\e72f";
}

