@font-face {
  font-family: "iconfont"; /* Project id 3519833 */
  src: url('iconfont.woff2?t=1657806515197') format('woff2'),
       url('iconfont.woff?t=1657806515197') format('woff'),
       url('iconfont.ttf?t=1657806515197') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiyu-gaoerfuqiu:before {
  content: "\e65c";
}

.icon-shuaxin1:before {
  content: "\eafd";
}

.icon-tuding:before {
  content: "\e637";
}

.icon-tuichu:before {
  content: "\e62e";
}

.icon-iczoomout2:before {
  content: "\e646";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-pin:before {
  content: "\e75d";
}

.icon-shipin:before {
  content: "\e622";
}

.icon-jiaocheng-1:before {
  content: "\e78d";
}

.icon-toumingdu:before {
  content: "\e60d";
}

